<h1>bh-grab</h1>
<form onsubmit="onsubmit()">
  Enter link:
  <input type="text" name="link" id="link" placeholder="Paste link here..." />
</form>
{{#if downloadLink}}<p>Link: <a href="{{downloadLink}}">Download</a></p>{{/if}}