body {
  padding: 50px;
  background-color: #1E1E1E;
  color: #EEE;
}

a {
  color: #00B7FF;
}

.card {
  padding: 10px;
  background-color: rgba(204,204,204, 0.5);
  border-radius: 5px;
  margin: 5px;
}

.img-thumbnail {
  width: 100%;
}

.stats div {
  font-size: 10px;
  padding: 0 2px 0 2px;
}

.title-wrapper {
  height: 3em;
}

.ph-nav {
  width: 20%;
  margin: 0 5px 0 5px;
}